.contact-container {
  height: 100vh;
  .contact-title {
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    text-align: center;
    font-size: 3em;
    border-bottom: 2px solid $header-color;
  }
  .warning {
    padding-top: 30px;
    text-align: center;
    strong {
      font-size: 1.5em;
      border-bottom: 3px solid $logo-color;
    }
  }
  .formulaire {
    // background: chocolate;
    display: flex;
    justify-content: center;
    margin-top: 25px;

    #form {
      background-color: #f1f1f1;
      min-width: 35%;
      padding: 2rem;

      .form__inputs {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 2px solid $logo-color2;
        margin-bottom: 20px;
        padding: 5px;
      }
      .btn {
        width: 100%;
        padding: 5px 10px;
        cursor: pointer;
        border: none;
        color: #f1f1f1;
        font-size: 1.2em;
        background-color: rgba(214, 50, 35, 0.9);
      }
      .btn:hover {
        background-color: rgba(214, 50, 35, 1);
        transition: 0.3s;
      }
    }
  }
}
